<br>
<div style="  position: relative; left: 350px;" class="container">

  <h1>Vendedor</h1>

  <mat-form-field class="example-full-width">
    <mat-label>Id</mat-label>
    <input matInput placeholder="Id" [(ngModel)]="vendedor.id">

  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Nombre</mat-label>
    <input matInput required placeholder="name" [(ngModel)]="vendedor.nomVendedor">

  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>DNI </mat-label>
    <input type="email" matInput required placeholder="dni" [(ngModel)]="vendedor.dniVendedor">
  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Edad </mat-label>
    <input type="email" matInput required placeholder="edad" [(ngModel)]="vendedor.edadVendedor">
  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Celular </mat-label>
    <input type="email" matInput required placeholder="cel" [(ngModel)]="vendedor.celVendedor">
  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput required placeholder="email" [(ngModel)]="vendedor.emailVendedor">
  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Username</mat-label>
    <input type="email" matInput required placeholder="username" [(ngModel)]="vendedor.username">
  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input type="password" matInput required placeholder="password" [(ngModel)]="vendedor.password">
  </mat-form-field>

  <br>
  <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
  <button mat-raised-button color="warn" routerLink="/vendedor">Cancelar</button>
  <p>{{mensaje}}</p>

</div>
