
<div style="  position: relative;
left: 400px;" class="container">

  <h1>Notificacion</h1>

  <mat-form-field class="example-full-width">
    <mat-label>Id</mat-label>
    <input matInput placeholder="Id" [(ngModel)]="notificacion.id">
  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Fecha de Caducidad</mat-label>
    <input type="date" matInput required placeholder="name" [(ngModel)]="notificacion.fechaCaducidad">

  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Stock</mat-label>
    <input type="number" matInput required placeholder="cantidad" [(ngModel)]="notificacion.stock">
  </mat-form-field>

  <br>
  <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
  <button mat-raised-button color="warn" routerLink="/notificacion">Cancelar</button>
  <p>{{mensaje}}</p>

</div>

