<div class="container">
    <div style="text-align: center;">
      <br>
    <h1>Lista de Vendedores</h1>
  </div>
  <app-consumidor-buscar style="  position: relative; left: 265px;"></app-consumidor-buscar>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef> id </th>
        <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element?.nomVendedor}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="DNI">
        <th mat-header-cell *matHeaderCellDef> dni </th>
        <td mat-cell *matCellDef="let element"> {{element?.dniVendedor}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="Edad">
        <th mat-header-cell *matHeaderCellDef> Edad </th>
        <td mat-cell *matCellDef="let element"> {{element?.edadVendedor}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
       <ng-container matColumnDef="Celular">
          <th mat-header-cell *matHeaderCellDef> Celular </th>
          <td mat-cell *matCellDef="let element"> {{element?.celVendedor}} </td>
      </ng-container>
      
      <!-- Symbol Column -->
      <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element?.emailVendedor}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="Usuario">
          <th mat-header-cell *matHeaderCellDef> Usuario </th>
          <td mat-cell *matCellDef="let element"> {{element?.username}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="Password">
          <th mat-header-cell *matHeaderCellDef> Password </th>
          <td mat-cell *matCellDef="let element"> {{element?.password}} </td>
      </ng-container>
      
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
            [routerLink]="['edicion', element?.id]">Actualizar</button>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="accion2">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn" (click)="confirmar(element.id)">Eliminar</button>
  
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <div style="  position: relative;  top: 1px; left: 260px;" class="example-button-container">
  
      <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon"
        routerLink="/vendedor/nuevo">
        <mat-icon>plus_one</mat-icon>
      </button>
    </div>
    
    